#root {
  width: 100vw;
  max-height: 100vh;
  margin: 0 0;
  overflow: hidden;
  color: #f0f0f0;
  background-color: #27272A;
}

::-webkit-scrollbar{
  display: none;
}

.border-clr1{
  border-color: rgb(61, 61, 61);
}
.border-clr2{
  border-color: rgb(88, 88, 88);
}

.calc-h-20{
  height: calc(100vh - 80px);
}
